<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>VoiceClutch</string>
    <key>CFBundleIdentifier</key>
    <string>com.vadimmelnicuk.voiceclutch</string>
    <key>CFBundleName</key>
    <string>VoiceClutch</string>
    <key>CFBundleIconFile</key>
    <string>VoiceClutch.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>VoiceClutch needs microphone access for voice dictation.</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
